@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #000; 
}

.banner {
    height: 715px;
    background: linear-gradient(180.00deg, rgb(0, 0, 0),rgb(44, 42, 42),rgb(44, 42, 42), rgb(0, 0, 0) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}    

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 58.5px;
}

.left-nav{
    margin-left: 190px;
    color: rgb(230, 83, 60);
    font-family: Inter, sans-serif;
    font-size: 36px;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

.menu-icon {
    display: none; 
    width: 30px;
    height: 22px;
    position: relative;
    cursor: pointer;
}

.right-nav{
    display: flex;
    gap: 47px;
    margin-right: 190px;
    width: 465px;
    height: 46px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 4px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 39px;
    color: rgb(255, 255, 255,0.8);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

.home{
    border-radius: 46px;
    background: rgb(230, 83, 60);
    width: 92px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px 8px 20px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}

.banner-middle{
    display: flex;
    justify-content: space-between;
    margin-right: 214px;
}

.text-container {
    margin-left: 190px;
    margin-top: 96px;
}

.banner-text{
    color: rgb(255, 255, 255);
    font-family: Inter, sans-serif;
    font-size: 78px;
    font-weight: 900;
    line-height: 120%;
    text-align: left;
}

.highlight {
    font-family: "Dancing Script", cursive;
    font-size: 120px;
   
}

.subtext {
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    max-width: 520px;
}

.buttons {
    margin-top: 30px;
}

.join-button{
    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: white;
    border: 0;
    padding: 16px 40px 16px 40px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-right: 15px;
}

.download-button {
    border-radius: 42px;
    border: 1px solid rgb(255, 255, 255);
    color: white;
    padding: 16px 40px 16px 40px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-right: 15px;
}

.download-button {
    background-color: #333;
}

.image-container {
    position: relative;
    margin-top: 32px;
}

.img{
    margin-right: 32px;
}

.video-info {
    position: absolute;
    top: 28%; 
    right: 150px;
}

.video-badge{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 1px;
    text-align: left;
    padding: 16px 24px;
}

.video-tutorial{
    position: absolute;
    top: 60%; 
    right: 500px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.circle{
    background-color: orangered;
    border-radius: 40px;
    height: 40px;
    width: 40px;
    margin-left: 23px;
}


.tutorial-badge{
    
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 25px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 1px;
    text-align: left;
    padding: 16px 24px;
}

.badge0, .badge1{
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: left;
    margin-top: 5px;
}

.video-badge span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}

.tutorial-badge span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}

.habits {
    padding: 40px 20px;
    background-color: #000;
    text-align: center;
    margin-top: 100px;
}

.section-title {
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
}

.sub-title {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
    margin-bottom: 40px;
}

.habits-container {
    display: flex;
    justify-content: center; 
    gap: 60px; 
    flex-wrap: wrap; 
}

.habit {
    background-color: transparent; 
    padding: 10px;
    text-align: center;
}

.habit img {
    width: 200px;
    height: 200px;
    border-radius: 50%; 
    object-fit: cover;
    margin-bottom: 20px;
    border: 5px solid #1d1d1d; 
}

.habit h3 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0%;
    margin-bottom: 10px;
}

.habit p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
    text-align: center;
    max-width: 230px;
}

.extra-mile {
    background-color: #000000; 
    color: #fff;
    padding: 40px 20px;
    text-align: center;
    margin-top: 100px;
}

.extra-mile-container {
    background-color: #333;
    border-radius: 20px;
    margin-top: 30px;
    width: 60%;
    padding: 25px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin: 0 auto;
}

.extra-mile-text {
    color: #ffffff;
    font-size: 1.2rem;
    margin-bottom: 20px;
    line-height: 1.5;
    width: 340px;
    margin-left: 30px;
}

.extra-mile-text h2 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 20px; 
}

.extra-mile-text p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
    margin-bottom: 20px;
    
}

.extra-mile-text .join-now {
    background: rgb(230, 83, 60); 
    color: #fff;
    padding: 16px 60px;
    border: none;
    cursor: pointer;
    border-radius: 40px; 
    transition: background-color 0.3s;
    font-size: 1.2rem;
    font-family: Inter;
    font-weight: 600;
    line-height: 22px;
    display: flex;
}

.extra-mile-text .join-now:hover {
    background-color: #211b1a;
}

.extra-mile-image {
    width: 350px; 
    height: 300px; 
    overflow: hidden; 
    border-radius: 15px; 
    display: flex;
    justify-content: end; 
    align-items:start; 
}

.extra-mile-image img {
    width: 190%; 
    object-fit: cover; 
    transform: scale(1.8); 
}    


.bmi-calculator {
    background-color: #000;
    text-align: center;
}

.bmi-calculator .section-title{
    margin-top: 100px;
}

.bmi-container {
    background-color: #333;
    width: 100%;
    padding: 25px 40px;
    display: flex;
    justify-content:space-evenly;
    align-items:flex-start;
    gap: 20px;
    flex-wrap: wrap;
}



.chart-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 28px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 40px;
}

.bmi-chart {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

.font-opacity{
    color: rgb(255, 255, 255,0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}


thead tr, tbody tr {
    height: 50px; 
}


.bmi-chart table {
    width: 100%;
    border-collapse: collapse;
    color: #fff;
}

.bmi-chart th,
.bmi-chart td {
    border: 1px solid #444;
    padding: 10px;
    text-align: left;
}

.bmi-calculation {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin-right: 200px;
}

.form{
    width: 600px;
}

.input-control{
    font-size: larger;

    
}

.bmi-calculation .chart-title{
    margin-bottom: 14px;
}

.bmi-calculation .sub-title{
    text-align: left;
    width: 600px;
}

.height-weight{
    display: flex;
    gap: 15px;
}

.age-sex{
    display: flex;
    gap: 15px;
}

.bmi-calculation input,
.bmi-calculation select{
    width: 100%;
    padding: 12px 12px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #444;
}

.calculate-btn {
    background: rgb(230, 83, 60);
    border: 0;
    color: #fff;
    cursor: pointer;
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    margin-top: 35px;
    width: 250px;
    
}

.bmi-calculation input::placeholder {
    color: #bbb;
}

.bmi-calculation select {
    background-color: #444;
    color: #bbb;
}


.membership{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
}

.membership-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 2.29vw;
    font-weight: 800;
    line-height: 2.64vw;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 1.71vw;
    margin-top: 100px;
}

.membership-description{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.14vw;
    font-weight: 400;
    line-height: 1.86vw;
    letter-spacing: 0%;
    text-align: center;
    width: 60.86vw;
    opacity: 0.7;
    margin-bottom: 3.43vw;
}

.box-container{
    display: flex;
    gap:1.71vw;
    margin-bottom: 7.93vw;
}

.box-1{
    border-radius: 1.14vw;
    background: rgb(193, 76, 187);
    padding: 2.86vw;
}

.box-2{
    border-radius: 1.14vw;
    background: rgba(43, 99, 212);
    padding: 2.86vw;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.71vw;
    font-weight: 800;
    line-height: 2.57vw;
    text-align: left;
    margin-bottom: 0.57vw;
}

.box-description{
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 1.14vw;
    font-weight: 400;
    line-height: 1.86vw;
    text-align: left;
    opacity: 0.7;
    width: 20.29vw;
    margin-bottom: 1.71vw;
}

.box-link{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.14vw;
    font-weight: 700;
    line-height: 1.36vw;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}


.team .section-title{
    text-align: center;
    margin-top: 10px;
}

.team-container{
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    width: 1080px;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 32px;
    margin-bottom: 100px;
}

.upper-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin-bottom: 30px;
}

.down-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.team-member img{
    width: 333px;
    height: 250px;
    border-radius: 18px;
}

.team-member h3 {
    margin-top: -60px;
    margin-left: 10px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 800;
    text-shadow: 
    1px 1px 0 rgba(0, 0, 0, 0.7), 
    -1px -1px 0 rgba(0, 0, 0, 0.7), 
    1px -1px 0 rgba(0, 0, 0, 0.7), 
    -1px 1px 0 rgba(0, 0, 0, 0.7); 
}


p{
    margin-left: 10px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
}

footer{
    background: rgba(255, 255, 255, 0.1);
    padding: 15px;
    padding-top: 50px;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.footer-left h2 {
    color: rgb(230, 83, 60);
    font-family: Inter, sans-serif;
    font-size: 70px;
    font-weight: 800;
    line-height: 120%;
    font-family: Inter;
    margin-bottom: 20px;
}

.footer-left p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    width: 440px;
}


.footer-links h3 {
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 40px;
}

.footer-links ul {
    list-style: none;
    padding-left: 0;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 23px;
    font-weight: 400;
    line-height: 120%;
}

.footer-links ul li {
    margin-bottom: 20px;
}

.footer-note {
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
    margin-bottom: 50px;
}

.line{
    margin: 20px 300px;
    margin-top: 50px;
    border: 2px solid rgba(255, 255, 255, 0.2);
}

@media (max-width: 576px) {

.banner {
    height: 1024px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}    

.navigation{
    margin-top: 52px;
}

.left-nav{
    margin-left: 20px;
}

.menu-icon {
    display: block;
}


.right-nav{
    display: none;
}

.home{
    display: none;
}

.banner-middle{
    width: 300px;
    display: flex;
    flex-direction: column;
}

.text-container {
    margin-left: 20px;
    margin-top: 28px;
}

.banner-text{
    font-size: 36px;
    width: 300px;
}

.highlight {
    font-size: 40px;
}

.subtext {
    width: 274px;
    margin-top: 20px;
    margin-left: 2px;

}

.buttons {
    margin-top: 40px;
    display: flex;
    gap:2px
}

.join-button{
    font-size: 18px;
    margin-right: 30px;
    width: 200px;
}

.download-button {
    margin-right: 18px;
    width: 200px;
}

.image-container {
    display: flex;
    justify-content: start;
    align-items: start;
}

.img{
    margin-left: 80px;

}

.video-info {
    position: absolute;
    top: 529px; 
    right: 120px;
}

.video-badge{
    font-size: 25px;
}

.video-tutorial{
    position: absolute;
    top: 800px; 
    right: 185px;
}

.circle{
    border-radius: 20px;
    height: 40px;
    width: 40px;
    margin-left: 18px;
}


.tutorial-badge{
    font-size: 25px;
}

.badge0, .badge1{
    font-size: 13px;
}

.video-badge span{
    font-size: 12px;
    
}

.tutorial-badge span{
    font-size: 12px;
}

.habits {
    margin-top: 50px;
}

.habits .section-title {
    margin-bottom: 10px;
    font-size: 30px;
}    
   

.sub-title {
    font-size: 14px;
    margin-bottom: 20px;
}

.habits-container {
    gap: 20px; 
    display: flex;
    flex-direction: column;
}

.habit {
    padding: 8px;
}

.habit img {
    width: 200px;
    height: 180px;
    margin-bottom: 10px;
    
}

.habit h3 {
    font-size: 18px;
    margin-bottom: 8px;
}

.habit p {
    font-size: 12px;
    margin: 0 auto;
}

.extra-mile {
    margin-top: 20px;
}

.extra-mile-container {
    width: 353px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.extra-mile-text {
    font-size: 30px;
    margin-bottom: 10px;
    width: 280px;
}

.extra-mile-text h2 {
    font-size: 30px;
    margin-bottom: 10px; 
}

.extra-mile-text p {
    font-size: 12px;
    width: 300px;
    margin-bottom: 10px;
    margin-left: 1px;

    
}

.extra-mile-text .join-now {
    font-size: 18px;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 20px;

}

.extra-mile-image {
    width: 287px; 
    height: 170px; 
}

.extra-mile-image img {
    width: 100%; 
    transform: scale(1.5); 
}    

.bmi-calculator .section-title{
    margin-top: 10px;
    font-size: 32px;
}

.bmi-calculator .sub-title{
    margin-top: 10px;
    font-size: 12px;
    width: 370px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.bmi-container {
    gap: 5px;
    
}



.chart-title{
    font-size: 16px;
    margin-bottom: 10px;
}

.bmi-chart {
    max-width: 310px;
}

.font-opacity{
    font-size: 14px;
}


thead tr, tbody tr {
    height: 30px; 
}


.bmi-chart table {
    width: 90%;
}

.bmi-calculation {
    width: 350px;
    margin-right: 20px;
}

.form{
    width: 350px;
}

.input-control{
    font-size: large;

    
}

.bmi-calculation .chart-title{
    margin-bottom: 8px;
    margin-left: 4px;
}

.bmi-calculation .sub-title{
    text-align: left;
    width: 300px;
}

.height-weight{
    display: flex;
    gap: 10px;
}

.age-sex{
    display: flex;
    gap: 10px;
}

.bmi-calculation input,
.bmi-calculation select{
    margin-bottom: 8px;
}

.calculate-btn {
    font-size: 17px;
    margin-top: 10px;
    width: 220px;
    
}

.membership-title{
    margin-top: 30px;
    font-size: 32px;
}

.membership-description{
    font-size: 12px;
    margin-top: 20px;
    line-height: 20px;
}

.box-container{
    display: flex;
    flex-direction: column;
}

.box-description{
  
    font-size: 10px;
    line-height: 10px;
  
}

.box-link{
    font-size: 10px;
}

.box-title{
    font-size: 16px;
}

.flex .join-button{
    padding: 10px 20px;
    font-size: 12px;
    width: 100px;

}

.flex{
    display: flex;
    gap: 30px;
}



.team .sub-title{
    width: 310px;
    margin: 0 auto;   
    margin-bottom: 20px;
}

.team-container{
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.upper-sec{
    display: flex;
    flex-direction: column;
    gap:50px;
    margin-bottom: 10px;
}

.down-sec{
    display: flex;
    flex-direction: column;
    gap:50px;
}

.team-member img{
    width: 300px;
    height: 250px;
    border-radius: 15px;
}

.team-member h3 {
    margin-top: -60px;
    margin-left: 10px;
    font-size: 14px;
}


p{
    margin-left: 15px;
    font-size: 14px;
}

footer{
    width: 500px;
}

.footer-container {
    display: flex;
    flex-direction: column;
}

.footer-left{
    margin-bottom: 20px;
}

.footer-left h2 {
    font-size: 30px;
    margin-bottom: 10px;
    margin: 0 auto;
}

.footer-left p{
    font-size: 16px;
    width: 300px;
    margin: 0 auto;
}

.footer-links h3{
    font-size: 25px;
}

.footer-links ul{
    font-size: 18px;
}


.footer-note {
    margin-top: 15px;
    font-size: 15px;
    margin-bottom: 20px;
}

.line{
    margin: 20px 100px;
    margin-top: 30px;
}
}